@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.size {
  font-weight: 100;
}

.timer {
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: 100; /* Adjust font weight if needed */
  text-align: center; /* Center text horizontally */
  color: white;
  /* Additional styles if necessary */
}
